DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
DatingApp.API/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
DatingApp.API/bin/Debug/netcoreapp3.1/appsettings.json
DatingApp.API/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
DatingApp.API/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
DatingApp.API/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
DatingApp.API/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
DatingApp.API/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
DatingApp.API/bin/Debug/netcoreapp3.1/DatingApp.API.runtimeconfig.dev.json
DatingApp.API/bin/Debug/netcoreapp3.1/DatingApp.API.pdb
DatingApp.API/bin/Debug/netcoreapp3.1/DatingApp.API.dll
DatingApp.API/bin/Debug/netcoreapp3.1/DatingApp.API.deps.json
DatingApp.API/obj/Debug/netcoreapp3.1/project.razor.json
DatingApp.API/obj/Debug/netcoreapp3.1/DatingApp.API.pdb
DatingApp.API/obj/Debug/netcoreapp3.1/DatingApp.API.dll
DatingApp.API/obj/Debug/netcoreapp3.1/DatingApp.API.csprojAssemblyReference.cache
DatingApp.API/obj/Debug/netcoreapp3.1/DatingApp.API.csproj.FileListAbsolute.txt
DatingApp.API/obj/Debug/netcoreapp3.1/DatingApp.API.csproj.CopyComplete
DatingApp.API/obj/Debug/netcoreapp3.1/DatingApp.API.assets.cache
DatingApp.API/obj/DatingApp.API.csproj.nuget.g.props
DatingApp.API/obj/DatingApp.API.csproj.nuget.dgspec.json
DatingApp.API/obj/DatingApp.API.csproj.nuget.cache
DatingApp.API/obj/DatingApp.API.csproj.EntityFrameworkCore.targets
DatingApp.API/obj/project.assets.json
